body {
                background-color: rgb(202, 101, 115);
                font-family: sans-serif;
                font-size: 40px;
            }
            h1 {
                color: rgb(52, 52, 119);
                margin: 40px 0 10px;
                text-align: center; }
            h2 {
                color: rgb(52, 52, 119);
                margin: 10px 0 30px;
                text-align: center;
            }
            .first-img {
                width: 500px; 
                float: left; 
                margin-right: 15px;
                border-radius: 6px;
                margin: 0 auto;
            }
          .second-img {
            width: 500px; 
                float: right; 
                margin-left: 15px;
                border-radius: 6px;
                margin: 0 auto;
          }
          .third-img {
             width: 500px; 
                margin: 0 auto;
                border-radius: 6px;
                display: block;
          }